venv/*
.idea/*
sqlbpe/*
data/*
__pycache__*
models/*
old/*
output_files/*
old_files/*
config*.yaml
configs/*
tmp.py

# new_configs/*       -commented due to see the change of config. will be uncommented later

e2e_metrics/
tgen/
attention_keras/
PreSumm/*

# Will decide later, ignore for now
fact_scorer/*       
cached_dev_squad1.0_384
cached_dev_bert-base-uncased_512_factcc_annotated